html, body {
  height: 100%;
}

.timerContainer {
  font-family: Arial;
  color: #707070;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* text-align: center; */
}

.headerTimer {
  font-size: 30px;
  margin-bottom: 50px;
}

.timer{
  font-size: 30px; 
  font-weight: bold;
  border: 2px solid #707070; 
  border-radius: 5px;
  width: 640px; 
  background-color: #F5F5F5; 
  padding: 28px;
  margin-bottom: 50px;
  /* display:inline-block; */
}

.startTimer{
  background-color: #5CCC87;
  margin-right: 30px;
}

.pauseTimer{
  background-color: #E66666;
}

.button {
  width: 200px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  padding: 15px; 
  text-align: center; 
  font-size: 16px; 
  font-weight: bold; 
  display: inline-block;
  cursor: pointer;
}