html, body {
/* height: 100% */
  font-family: Arial;
  color: #707070;
}

/* body { 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.inputLabel {
  font-size: 18px;
}

.timerContainer {
  display: grid;
  place-items: center;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.indexContainer {
  display: grid;
  place-items: center;
  margin: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.headerTimer {
  font-size: 30px;
  margin-bottom: 50px;
}

.headerIndex {
  font-size: 30px;
  margin-bottom: 40px;
}

.timer{
  font-size: 30px; 
  font-weight: bold;
  border: 2px solid #707070; 
  border-radius: 5px;
  width: 640px; 
  background-color: #F5F5F5; 
  padding: 28px;
  margin-bottom: 50px;
}

.startTimer{
  background-color: #5CCC87;
  margin-right: 30px;
}

.stopTimer{
  background-color: #E66666;
}

.timerButton {
  width: 200px; 
  border: none; 
  border-radius: 5px; 
  color: white; 
  padding: 15px; 
  text-align: center; 
  font-size: 16px; 
  font-weight: bold; 
  display: inline-block;
  cursor: pointer;
  margin-bottom: 65px;
}

.fizzBuzz {
  font-size: 80px;
  font-weight: bold;
}

.navButton {
  border: 2px solid #707070; 
  color: #707070;
  padding: 15px 30px; 
  text-align: center; 
  font-size: 16px; 
  font-weight: bold;
  cursor: pointer; 
  border-radius: 5px;
}

.inputBox {
  width: 100px;
  padding: 8px 16px;
  border: 1px solid #707070; 
  background-color: #F5F5F5; 
  border-radius: 5px; 
  font-size: 16px; 
  margin-right: 40px;
  margin-bottom: 50px;
}